@import url('https://fonts.googleapis.com/css2?family=quicksand&display=swap');

*, ::after, ::before {box-sizing: border-box;}
html {min-height: 100%;}
body {
	font-family: quicksand, sans-serif;
	background: url("../images/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	min-height: 100%;
}

body.landing-page {
	background: url("../images/main-bg.jpg");
}

#topnav {
	display: flex;
	gap: 1em;
}

a {
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}
#topnav a.active {
	color: #C56D37;
	text-decoration: underline;
}
#topnav a:hover {
	color: #DD7; /* Need to get the right color */
	text-decoration: underline;
}

h1 {
	font-size: 85px;
}
h2 {
	font-size: 30px;
}

.portfolio-page main {
	display: flex;
	flex-direction: column;
	text-align: center;
}
