@import url('https://fonts.googleapis.com/css2?family=quicksand&display=swap');

*, ::after, ::before {box-sizing: border-box;}
body {
	font-family: quicksand, sans-serif;
}

.landing-page {
	background: url("../images/main-bg.jpg");
	background-size: cover;
	color: white;
}

#topnav {
	display: flex;
}

#topnav a {
	text-transform: uppercase;
}
#topnav a.active {
	color: #C56D37;
}
#topnav a:hover {
	color: #C5DD37; /* Need to get the right color */
}
