<!DOCTYPE HTML>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Maaya's Portfolio</title>
<link rel="stylesheet" href="css/main.css">
<link rel="icon" href="https://static-cdn.jtvnw.net/jtv_user_pictures/dfd56330-4c68-4812-aa26-51a68ee6d511-profile_image-70x70.jpg">
</head>
<body class="{{ page.category | default: "regular" }}-page">
    <!-- Nav system replicated from devicat.art -->
    <nav id=topnav>
      <div style="flex-grow: 1"></div>
      {%- for dest in site.nav %}{%- for info in dest -%}
        {%- if info[1] -%}
          {%- assign name = info[0] -%}
          {%- assign url = info[1] -%}
        {%- else -%}
          {%- assign name = dest -%}
          {%- assign url = dest | downcase | replace: " ", "" -%}
        {%- endif -%}
        {% assign active = "" %}{% assign current = "" %}
        {%- if page.title == name %}{% assign active = " active" %}{% assign current = '<span class="screenreader">(current)</span>' %}{% endif %}
        <a class="{{active}}" href="{{ url }}">{{ name }}{{ current }}</a>
      {%- endfor %}{% endfor %}
      <div style="flex-grow: 1"></div>
    </nav>

<main>
{{ content }}
</main>
<div id=fader></div>
<div id="popup"><figure><figcaption></figcaption><img src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_761343ec4b4e4349b1899180f89013d2/default/light/3.0" alt="[placeholder maayaEvil]" role="presentation"></figure></div>
<footer>
© 2024 Maaya Konopaskova
</footer>
<script>
const gallery = {};
document.querySelectorAll('.portfolio-page main img').forEach(img => {
	const imgname = "#" + /images\/(.*)\.(png|jpg|webp)$/.exec(img.src)[1];
	img.onclick = gallery[imgname] = function(ev) {
		document.querySelector('#popup img').src = img.src;
		document.querySelector('#popup figcaption').textContent = img.alt;
		document.documentElement.classList.add("show-modal");
		history.replaceState(this.src, "", imgname);
		if (ev) ev.stopPropagation();
	};
});
const f = gallery[window.location.hash]; if (f) f(); //If the page has a valid hash link in it, open up that gallery image.
document.querySelectorAll('.nav-dropdown').forEach(a => a.onclick = function(ev) {
	//Collapse other dropdowns, and toggle this one (so there's a max of one open at a time)
	document.querySelectorAll('.nav-dropdown').forEach(a => a != this && a.setAttribute('aria-expanded', 'false'));
	this.setAttribute('aria-expanded', this.getAttribute('aria-expanded') != "true");
	ev.stopPropagation(); ev.preventDefault();
});
document.documentElement.onclick = function(ev) {
	this.classList.remove("show-modal");
	document.querySelectorAll('.nav-dropdown').forEach(a => a.setAttribute('aria-expanded', 'false'));
	if (window.location.hash.length > 1) history.replaceState("", "", location.pathname);
}
</script>
</body>
</html>
